<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735136999492-6sdp69juo2s3t49geo9tkmvf7oagpci0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735136999492-6sdp69juo2s3t49geo9tkmvf7oagpci0</string>
	<key>API_KEY</key>
	<string>AIzaSyCWMmnJJUwSMVNJFEm6cmMG8svJMgeGj1c</string>
	<key>GCM_SENDER_ID</key>
	<string>735136999492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psychofirebase</string>
	<key>PROJECT_ID</key>
	<string>psycho-c324a</string>
	<key>STORAGE_BUCKET</key>
	<string>psycho-c324a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735136999492:ios:aba0ce5d0f2ee0763eb411</string>
	<key>DATABASE_URL</key>
	<string>https://psycho-c324a.firebaseio.com</string>
</dict>
</plist>